.container {
  max-width: 1000px;
  margin: 0 30px 0 30px;
  text-align: justify;
  font-family: monospace;
  font-weight: lighter;
  font-size: 1em;
}
a.language{
  float: right;
}
h1, h2, h3{
    text-align: left;
}
ul {
  padding:0px;
}
ul li {
  list-style: none;
}
ul li span{
  width: 42px;
  display: inline-block;
}
p, address{
  text-align: justify!important;
}
.perfil-photo{
  float: left;
  height: 8em;
  margin-right: 10px;
  outline: 1px solid #fff;
  outline-offset: -2px;
}
#profile{
  white-space: nowrap;
}
#profile label {
  margin: 0;
  padding: 0px 25px 0px 25px;
  background: #000;
  display: inline-grid;
  height: 20px;
  z-index: -5;
  position: relative;
  font-size: 0.8em;
  font-weight: 100;
}
#profile label small {
  display: block;
  height: 40px;
  color: #fff;
  text-align: center;
  @-webkit-animation: move 8s steps(6) infinite;
  animation: move 8s steps(6) infinite;
  position: relative;
  z-index: -1;
}
.show-on-print{
    display: none;
}
@-webkit-keyframes move {
  from { top: 0; left: 0; }
  to   { top: -240px; left: 0; }
}
@keyframes move {
  from { top: 0; left: 0; }
  to   { top: -240px; left: 0; }
}
@media only screen and (max-width: 550px) {
  .hide-on-mobile{
    display: none;
  }
  .container{
    text-align: left;
    margin: 0 10px 0 10px;
  }
  .perfil-photo{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
}
@media only screen and (min-width: 800px) {
  .container{
      margin: 0 25px 0 25px;
  }
  .perfil-photo{
    width: 7em;
    height: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .container{
      margin: 0 auto 0 auto;
  }
  .perfil-photo{
    width: 7em;
    height: auto;
  }
}
@media print {
  .perfil-photo{
    outline: none;
  }
  .show-on-print{
      display: inline!important;
  }
  .hide-on-print{
    display: none!important;
  }
}
